doctype
html
    head
        title   About
        style
            include ../static/about.css
    
    body
        nav.navhome
            h1  Todo List
            ul 
                li: a(href="/") Home
                li: a(href="/about") About

        div.abouttodo
            img(src="../static/images/about.jpg",width=600,height=600)
            div.info
                h1  About
                p   A todo list application is designed to help users organize and manage tasks or activities they need to complete. It allows users to create, prioritize, and mark tasks as completed, providing a convenient way to keep track of their daily, weekly, or long-term goals.