doctype html
html
    head
        title Todo List
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ../static/home.css
    body

        if check===1
            nav.navhome
                h1  Todo List
                ul 
                    li: a(href="/") Home
                    li: a(href="/about") About

            div.forall
                div
                a(href="/login"): button Login
                a(href="/signup"): button.sig Signup
        else
            nav.navhomelogin
                h1  Todo List
                ul 
                    li: a(href="/") Home
                    li: a(href="/about") About
                button(id="log") Logout    
            ul.userlist
                for n in added 
                    li
                        label(for=`${n._id}`)= n.task
                        img(src="../static/images/trash.png",id=`${n._id}`,width=32,height=32)
            form(action="/add",method="post")
                input(type="text",name="task_name",id="my",placeholder="Enter the Task...")
                button Add Task






        script
            include ../static/index.js